<!doctype html>
<html lang="en">
<head>
    <title>Registro de Usuario</title>
</head>

<link rel="stylesheet" href="../Clases%20CSS/styles.css">


<img src="Registro.jpg" alt="Imagen decorativa" class="imagen-decorativa">

<body>

<section class="form-registrer">
    <input class = "controls" type="text" name="text" id="nombres" placeholder="your name"  required minlength="3">
    <input class = "controls" type="text" name="text" id="apellidos" placeholder="your last name"  required minlength="3">
    <input class = "controls" type="text" name="text" id="nombreUsuario" placeholder="your user name"  required minlength="3">
    <input class = "controls" type="text" name="email" id="correo" placeholder="your email">
    <input class = "controls" type="password" name="password" id="contraseña" placeholder="your password">
    <input class = "botons" type="submit" value="create an acount">
    <p><a href="link"> ya tienes una Cuenta?</a> </p>

</section>

</body>


</html>

